html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: rgb(211, 211, 211);
  text-align: justify;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* ---------------Global Classes---------------- */
a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: rgb(31, 31, 31);
}

/* to remove unnecessary outline on a button when it is pressed*/
:focus {
  outline: none !important;
  color: black;
}

/* ----x-----x----Global Classes--x------x------ */
#sidebar {
  position: fixed;
  height: 100%;
  width: 250px;
  top: 0;
  left: -250px;
  transition: .5s;
  z-index: 800;
}

.sidebar {
  width: 250px;
  height: 100%;
  background-color: rgb(211, 211, 211);
  padding: 2rem;
  padding-top: 3rem;
}

.sidebar-btn {
  position: absolute;
  left: 250px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: rgb(211, 211, 211);
  margin-top: 10px;
  margin-left: 10px;
}

#home {
  padding-top: 10vh;
  margin-bottom: 10vh;
}

.avatar {
  height: 200px;
  width: 200px;
}

.follow-list {
  font-size: 2rem;
}

#about {
  margin-top: 10vh;
  margin-bottom: 10vh;
}

#Experience {
  margin-top: 10vh;
  margin-bottom: 10vh;
}

#contact {
  background-color: rgba(0, 0, 0, 0.8)
}

#BackToTop {
  position: fixed;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: inherit;
  margin-top: 10px;
  margin-left: 10px;
  z-index: 999;
  right: 1vw;
  bottom: 1vh;
}

.card {
  background-color: rgb(230, 230, 230)
}

.highlighted-card {
  background-color: rgb(255, 215, 100);
}
