html {
    scroll-behavior: smooth;
}

body {
    background-color: rgba(65, 105, 225, 0.9);
}

/* ---------------Global Classes---------------- */

.heading {
    color: rgb(255, 255, 255);
    padding-top: 3rem;
}

.btn {
    border-color: rgb(47, 56, 141);
    border-width: 1px;
    height: 40px;
    width: 100px;
}

.btn:hover {
    border-color: white;
}

a {
    text-decoration: none;
    color: rgb(167, 202, 255);
}

a:hover {
    text-decoration: none;
    color: rgb(44, 49, 119);
}
/* to remove unnecessary outline on a button when it is pressed*/
:focus {
    outline: none !important;
    color: black;
}

/* ----x-----x----Global Classes--x------x------ */

#sidebar {
    position: fixed;
    height: 100%;
    width: 310px;
    top: 0;
    left: -250px;
    transition: .5s;
    z-index: 800;
}

.sidebar {
    width: 260px;
    height: 100%;
    background-color: rgba(83, 56, 236, 0.9);
    padding: 2rem;
    padding-top: 3rem;
}

.sidebar-btn {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: rgb(65, 105, 225, 1.0);
    margin-top: 10px;
    margin-left: 10px;
}

#home {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.avatar {
    height: 200px;
    width: 200px;
}

.follow-list {
    font-size: 2rem;
}

#about {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

#Experience {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.card {
    background-color: rgb(118, 116, 255);
}

#contact {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

#BackToTop {
    position: fixed;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
    z-index: 999;
    color: black;
    right: 1vw;
    bottom: 1vh;
    background-color: rgb(74, 77, 236);
}